{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Projects {% endblock title %}</title>

{% block content %}
<!-- latest works -->

<section id="portfolio" class="portfolio-section py-5">
  <div class="container">
    <!-- heading -->
    <div class="row mx-auto">
      <div class="col text-center mb-4">
        <h5>PORTFOLIO</h5>
        <h2 style="font-weight:500;">LATEST PROJECTS</h2>
       </div>
    </div>
    <!-- end of heading -->

    <!-- project catagories -->
    <div class="row py-3">
      <div class="col-12 section-title text-center">
        <div class="button-group filter-button-group">
          <button id="all-btn" data-filter="*" class="btn active-color outer-shadow mx-2 my-2">ALL</button>
          {% for category in categories %}
          <button data-filter=".{{category.name}}" class="btn outer-shadow mx-2 my-2">{{ category.name}}</button>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- end of project categories -->
    <!-- project row -->

    <div class="row grid mx-auto">
      <!-- project -->
           {% for project in projects %}
            <div class="col-sm-6 col-md-4 project-item my-3 mx-0 {{ project.catagory.name }}">
              <div class="img-container outer-shadow p-2">
               <a href="{% url 'portfolio:project-detail' project_id=project.id %}">
                <img src="{{ project.project_image.url }}"
                class="img-fluid rounded project-image"
                alt="">
               </a>
                <a href="{% url 'portfolio:project-detail' project_id=project.id %}" class="btn btn-primary search-link">View</a>
                <a href="{% url 'portfolio:project-detail' project_id=project.id %}" class="project-name">
                 <p class="my-2">{{ project.project_title }}</p>
                </a>
              </div>
            </div>
            {% endfor %}
          <!-- end of project -->
    </div>
    <!-- end project row -->
  </div>
</section>

<!-- end of latest works -->

{% endblock content %}
