{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Skills {% endblock title %}</title>

{% block content %}

<!-- skill section -->
<section class="skill-section py-5" id="skills">
  <div class="container">
    <div class="row my-5">
      <div class="col-12 section-title text-center">
        <button id="skills-btn" class="btn active-color">Skills</button>
        <button id="training-btn" class="btn mx-2">Training</button>
        <button id="education-btn" class="btn">Education</button>
      </div>
    </div>

    <!-- skill -->
    <div class="row my-5" id="skill">
      {% for skill in skills %}
       <div class="col-md-6 mb-3 text-center">
         <div class="d-flex justify-content-between">
           <h5 class="skill-name text-capitalize">{{skill.skill_name}}</h5>
            <h5 class="skill-percent">{{ skill.percentage}}</h5>
         </div>
         <div class="progress">
           <div class="progress-bar" role="progressbar" style="width:{{skill.percentage}};" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
         </div>
       </div>
      {% endfor %}
    </div>
    <!-- end skill  -->

    <!-- training start -->
     <div class="row mt-2 d-none" id="training">
      <div class="training tab-content">
        <div class="row">
          <div class="timeline">
            <div class="row">
              <!-- timeline item start -->
              {% for training in training_infos %}
               <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow hover-in-shadow">
                     <i class="fas fa-briefcase icon"></i>
                      <span>{{ training.session }}</span>
                      <h3>{{ training.title }}</h3>
                      <h4>{{ training.training_center }}</h4>
                      <p>{{ training.training_detail }}</p>
                    </div>
               </div>
              {% endfor %}
              <!-- timeline item end -->
              <!-- timeline item start -->
              <!-- <div class="timeline-item">
                <div class="timeline-item-inner outer-shadow hover-in-shadow">
                   <i class="fas fa-briefcase icon"></i>
                    <span>Sep, 2018 - Present</span>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <h4>Comany : Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, necessitatibus!</p>
                </div>
             </div> -->
            <!-- timeline item end -->
            </div>
          </div>
        </div>
      </div>
     </div>
    <!-- training end -->

    <!-- education start -->
    <div class="row mt-2 d-none" id="education">
      <div class="education tab-content">
        <div class="row">
          <div class="timeline">
            <div class="row">
              
              <!-- timeline item start -->

              {% for degree in edu_infos %}
               <div class="timeline-item">
                  <div class="timeline-item-inner outer-shadow hover-in-shadow">
                     <i class="fas fa-graduation-cap icon"></i>
                      <span>{{ degree.session }}</span>
                      <h3>{{  degree.degree_title }}</h3>
                      <h4>{{ degree.institution_name }}</h4>
                      <p>{{ degree.description }}</p>
                      <p>{{ degree.result }}</p>
                      
                  </div>
               </div>
              {% endfor %}
              <!-- timeline item end -->
              <!-- timeline item start -->
              <!-- <div class="timeline-item">
                <div class="timeline-item-inner outer-shadow hover-in-shadow">
                   <i class="fas fa-graduation-cap icon"></i>
                    <span>Sep, 2018 - Present</span>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <h4>Comany : Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, necessitatibus!</p>
                </div>
             </div> -->
            <!-- timeline item end -->
            </div>
          </div>
        </div>
      </div>
     </div>
    <!-- training end -->




   
  </div>
</section>
<!-- end of skill section -->

{% endblock %}
{% block js %}
<script>
   
</script>
<script src="{% static 'js/skills.js' %}"></script>
{% endblock js %}
